/.vs/sort_out_files/v15/.suo
/.vs/sort_out_files/v15/Server/sqlite3/db.lock
/.vs/sort_out_files/v15/Server/sqlite3/storage.ide
/.vs/sort_out_files/v15/Server/sqlite3/storage.ide-shm
/.vs/sort_out_files/v15/Server/sqlite3/storage.ide-wal
/sort_out_files/bin/Debug/sort_out_files.pdb
/sort_out_files/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/sort_out_files/obj/Debug/sort_out_files.csproj.CoreCompileInputs.cache
/sort_out_files/obj/Debug/sort_out_files.csproj.FileListAbsolute.txt
/sort_out_files/obj/Debug/sort_out_files.csprojAssemblyReference.cache
/sort_out_files/obj/Debug/sort_out_files.pdb
